.home-container {
    padding: 50px;
    text-align: center;
  }
  
  .home-container h1 {
    font-size: 36px;
    color: #007acc;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border: 5px solid #007acc;
    border-radius: 50%;
    margin-top: 20px;
  }
  